@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{

    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
   
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;

}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}


body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-decoration: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
}

.btnh {
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btnh:hover{
    letter-spacing: .2rem;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo {
    height: 6rem;
}
.logo__crp {
    height: 50px;
    width: 50px;
}

.header .navbarz a{
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
} 
.header .navbarz a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}


.header .cearch-form{
    position: absolute;
    top: 150%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    align-items: center;
    transform: scaleY(0);
    transition: top;
}

.header .cearch-form.active{
    transform: scaleY(1);
}

.header .cearch-form input {
    height: 100%;
    width: 90%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .cearch-form label {

    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .cearch-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%; right: -1000%;
    height: calc(100vh - 9.5rem);
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-items-container .cart-item .cart-item-img {
    height: 15rem;
    width: 15rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--black);
    
}

.header .cart-items-container .btnh {
    width: 100%;
    text-align: center;
}


/*home*/
 .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./img/Coffee.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;

}

.home .content p{
   
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;




}
/*home ebe*/

/*about*/

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;

}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
}






/*about end*/

/*manu*/
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
   
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box span{
   
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover{
    background-color: #fff;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}


/*menu end*/
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 3rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
    text-decoration: none;
}

.products .box-container .box .icons a:hover{
    background-color: var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
   
}
.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .contect h3{
    color: #fff;
    font-size: 2.5rem;

}
.products .box-container .box .contect .stars{
    
    padding: 1.5rem;
    
}

.products .box-container .box .contect .stars i{
    
    font-size: 1.7rem;
    color: var(--main-color);
    
}
.products .box-container .box .contect .price{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .contect .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 2.5rem;
}

/*review*/
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box .quote{
    background-color: #fff;
    height: 8rem;
    width: 8rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;

}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{
    padding: .5rem;
    color: var(--main-color);
}
/*review end*/

/*covtact*/

.covtact .row{
    display: flex; 
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.covtact .row .map{
    flex: 1 1 45rem;
    width: 100%;

}
.covtact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
}

.covtact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.covtact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--black);
    border: 0.5rem solid rgba(255,255,255,.3);
}

.covtact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;

}
.covtact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/*covtact end*/

/* footer start */

.footer{
    background-color: var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    border-radius: 50%;
    cursor: pointer;
  
}
.footer .share a:hover{
    color: var(--main-color);
    background-color: rgb(44, 155, 103);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: 3px solid rgba(255,255,255,.3);
    font-size: 2rem;
    text-decoration: none;
}
.footer .links a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;

}
.footer .credit span{
    color: var(--main-color);
    
}
/* footer end */











































/*--media--*/

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}


@media (max-width:650px) {
    #menu-btn{
        display: inline-block;
    }

    .header .navbarz{
        position: absolute;
        top: 100%;
        right: -1000rem;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);

    }

    .header .navbarz.active{
        right: 0;

    }

    .header .navbarz a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .cearch-form{
        width: 90%;
       right: 2rem;
    }
    
    /*home*/
    .home{
        background-position: center;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    /*home end*/

}

@media (max-width:400px) {
    html{
        font-size: 50%;
    }

    .header .cearch-form{
        width: 90%;
       right: 2rem;
    }
    
    
}